
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e3e3e3;
}

a {
    text-decoration: none;
}

.header {
    background-color: white;

}

.p {
    margin-top: 5px;
    margin-right: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.bgColor {
    background-color: #54AEE2;
    height: 140vh;
}

.eventName {
    color: #54AEE2;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.input {
    display: block;
    width: 100%;
    height: 45px;
    border: 2px solid;
    border-radius: 16px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 25px;
    margin-bottom: 13px;
    margin-top: 8px;
}

.button {
    margin-top: 13px;
    padding: 10px;
    display: block;
    border: #54AEE2 2px solid;
    background-color: #54AEE2;
    color: whitesmoke;
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 16px;
    outline: none;
    transition: 0.2s;
}

.button:hover {
    background-color: whitesmoke;
    color: #54AEE2;
    border: #54AEE2 2px solid;
}

.table {
    width: 100%;
}

/*studentRegister*/

.register {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 24px;
    box-shadow: 0 0 30px 6px rgba(34, 60, 80, 0.2);
}

.register_eventName {
    color: #54AEE2;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

/*eventCreate*/

.eventCreate {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 24px;
    box-shadow: 0 0 30px 6px rgba(34, 60, 80, 0.2);
}

/*3-project css */

.eventHeader {
    width: 100%;
    padding: 10px;
    background-color: white;
}

.eventHeader_img {
    height: 50px;
}

.eventInfo {
    box-shadow: 0 0 30px 3px rgba(34, 60, 80, 0.2);
    padding: 10px;
    background-color: white;
    transition: 0.4s;
}

.divEventInfo__grid {
    width: 480px;
}

.eventName__width {
    margin-bottom: 0;
    width: 300px;
    overflow: hidden;

}

.eventName__hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*studentsInfo*/

.studentsInfoBar {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.studentsInfoHeader_button {
    margin-top: 0;
}

.studentsInfoHeader_eventName {
    margin-bottom: 0;
}

.studentsBarTable {
    margin-top: 13px;
}

.divEventInfo_button {
    width: 300px;
    margin: 10px auto;
    padding: 0;
}

/*studentsInfoTable*/

.studentsInfoTable {
    overflow: scroll;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.studentsInfoHeader {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}


.studentsInfoTable_th,
.studentsInfoTable_td {
    border: 1px solid white;
    border-collapse: collapse;
}

.studentsInfoTable_th:nth-child(odd),
.studentsInfoTable_td:nth-child(odd) {
    background-color: #b4deff;
}

.studentsInfoTable_th:nth-child(even),
.studentsInfoTable_td:nth-child(even) {
    background-color: #6ec6ff;
}

/*studentQr*/

.studentsQr {
    background-color: white;
    padding: 20px;
}

.divQr_img {
    max-width: 100%;
}

/*media*/

@media screen and (min-width: 1200px) {

    .divCenter {
        height: 100%;
        font-family: Arial, serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register__grid {
        max-width: 480px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    .register_eventName {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .register_divButton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .eventCreate {
        width: 415px;
    }

    .eventHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    .eventHeader_button{
        margin-top: 0;
        width: 200px;
    }



    .eventGrid {
        width: 100%;
        padding: 20px;
        display: grid;
        grid-gap: 20px;
    }

    .eventInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .eventInfo:hover {
        box-shadow: 0 0 10px 10px rgba(34, 60, 80, 0.2);
    }

    .divEventInfo__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .eventHeader_button__media {
        display: none;
    }

    .studentsInfoGrid {
        padding: 10px;
        height: 100vh;
    }

    .studentsInfoHeader {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
        padding: 20px;
        gap: 50px;
    }

    .studentsInfoBody {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
    }

    .studentsInfoBar {
        height: 400px;
    }

    .studentsInfoTable_tr {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .studentsInfoTable {
        height: 90vh;
    }

    .Media {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .studentsQr {
        max-width: 415px;
        margin: auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .divCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 100%;*/
        height: 100%;
    }

    .register__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    .register_eventName {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .register_divButton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .Media {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .studentsQr {
        width: 415px;
    }

    .eventCreate {
        width: 340px;
        padding: 30px;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px){

    .divCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .register {
        width: 340px;
    }

    .register_divButton {
        display: grid;
        grid-template-columns: 1fr;
    }

    .eventCreate {
        width: 340px;
        padding: 30px;
    }

    .eventGrid {
        max-width: 340px;
        margin: auto;
    }

    .eventHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        margin: auto;
    }


    .eventHeader_button {
        display: none;

    }

    .eventHeader_button__media {
        margin-top: 0;
        width: 70px;
        height: 70px;
        font-size: 30px;
        border-radius: 50%;
        padding: 0;
        background-color: #36ad54;
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    .eventInfo {
        width: 340px;
        min-height: 200px;
        margin-top: 20px;
        overflow: hidden;
    }


    .studentsInfoHeader_eventName {
        margin-top: 10px;
    }

    .studentsInfoHeader_button {
        max-width: 320px;
        margin-top: 10px;
    }

    .studentsInfoGrid {
        width: 340px;
        margin: auto;
    }

    .studentsInfoBar {
        min-height: 200px;
        margin-bottom: 20px;
    }

    .studentsInfoTable_h1 {
        width: 100%;
    }

    .studentsInfoTable_table {
        min-width: 768px;
    }

    .studentsQr {
        max-width: 320px;
        margin: auto;
    }

    .Media {
        height: 100vh;
        display: flex;
        align-items: center;
    }

}












