{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIIAME QR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/tiiame_icon.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

{% block detail %}{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>