{% extends 'base.html' %}
{% load i18n %}

{% block extra_css %}{% endblock %}

{% block detail %}

    <div class="divCenter">
        <div class="eventCreate">
            <h1 class="eventName">{% trans 'Event Create' %}</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="divInput">
                    <label class="label">{% trans 'Event-name' %}:
                        <input class="input" id="event_name" name="event_name" type="text" placeholder="Event-Name"
                               required>
                    </label>
                    <label class="label">{% trans 'Date' %}:
                        <input class="input" id="date" name="date" type="date" placeholder="Date" required>
                    </label>
                    <label class="label">{% trans 'Time' %}:
                        <input class="input" id="time" name="time" type="time" placeholder="Time" required>
                    </label>
                </div>

                <div class="divButton">
                    <a class="alink" href="{% url 'back:events' %}">
                        <button type="submit" class="button">
                            {% trans 'Create' %}
                        </button>
                    </a>
                    <a class="alink" href="{% url 'back:events' %}">
                        <button type="button" class="button">
                            {% trans 'Back' %}
                        </button>
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
