{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block extra_css %}{% endblock %}

{% block detail %}
    <header class="header">
        <div class="container">
            <div class="eventHeader">
                <img src="{% static '/img/logo_1.png' %}" alt="Img-logo" class="eventHeader_img">
                <a href="{% url 'back:event-create' %}">
                    <button class="button eventHeader_button">{% trans 'Create Event' %}</button>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="eventGrid">
            {% for event in events %}
                <div class="eventInfo">
                    <div class="divEventInfo">
                        <h1 class="eventName eventName__width eventName__hidden">{{ event.event_name }}</h1>
                    </div>
                    <div class="divEventInfo divEventInfo__grid">
                        <p class="p">
                            {% trans 'Date' %}:<span class="number">{{ event.date|date:'d.m.Y' }}</span>
                        </p>
                        <p class="p">
                            {% trans 'Time' %}: <span><time
                                class="time">{{ event.time|time:'G:i' }}</time></span>
                        </p>
                        <p class="p">
                            {% trans 'Students' %}:
                            <span class="number">
                                {% if event.users %}{{ event.users.count }}{% else %}0{% endif %}
                            </span>
                        </p>
                        <p class="p">
                            {% trans 'Other Listeners' %}:
                            <span class="number">
                                {% if event.another_users %}{{ event.another_users.count }}{% else %}0{% endif %}
                            </span>
                        </p>
                    </div>
                    <div class="divEventInfo">
                        <a class="alink" href="{% url 'back:event-detail' pk=event.pk %}">
                            <button class="button divEventInfo_button">{% trans 'Information' %}</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'back:event-create' %}">
                <button class="button eventHeader_button__media">+</button>
            </a>
        </div>
    </div>
{% endblock %}