{% extends 'base.html' %}

{% block extra_css %}{% endblock %}

{% block detail %}
    <div class="container">
        <div class="eventGrid">
            {% for event in events %}
                <div class="eventInfo">
                    <div class="divEventInfo">
                        <h1 class="eventName divEventInfo_eventName">{{ event.event_name}}</h1>
                    </div>
                    <div class="divEventInfo divEventInfo__grid">
                        <p class="p">Time: <span><time class="time">{{ event.time }}</time></span></p>
                        <p class="p">Students: <span class="number">{{ event.users.count }}</span></p>
                    </div>
                    <div class="divEventInfo">
                        <a class="alink" href="{% url 'back:event-detail' pk=event.pk %}">
                            <button class="button divEventInfo_button">Information</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
