{% extends 'base.html' %}

{% block detail %}
    <div class="container">
        <div class="Media">
            <div class="studentsQr">
                <div class="divQr">
                    <img class="img divQr_img" src="{{ object.qr_code.url }}" alt="QR">
                </div>
                <div class="studentsInfoP">
                    <h1 class="eventName">
                        {{ object.event.event_name }}
                    </h1>
                    <p class="p">
                        Talaba: {{ object.first_name }} {{ object.last_name }}
                    </p>
                    <p class="p">
                        Guruh: {{ object.group }}
                    </p>
                    <p class="p">
                        Fakultet: {{ object.faculty.faculty_name }}
                    </p>
                    <p class="p">
                        {{ object.event.date }} soat {{ object.event.time }} da
                    </p>
                </div>
                <div class="divButton">
                    <a class="alink" href="{{ object.qr_code.url }}" download="qrcode.png">
                        <button class="button studentsQr_button">
                            Yuklab olish
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}