{% extends 'base.html' %}

{% block detail %}


    <div class="divCenter">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="register">
                <h1 class="eventName register_eventName">Register Form</h1>
                <div class="register__grid">
                    <div class="divInput">
                        <label class="label"> First name:
                            <input class="input" id="first_name" name="first_name" required type="text"
                                   placeholder="First-Name">
                        </label>
                        <label class="label"> Last name:
                            <input class="input" id="last_name" name="last_name" required type="text"
                                   placeholder="Last-Name">
                        </label>
                        <label class="label"> Phone number:
                            <input class="input" id="phone_number" name="phone_number" required type="number"
                                   placeholder="Number">
                        </label>
                    </div>
                    <div class="divSelect">
                        <label class="label">Group:
                            <select class="input" id="group" name="group" required>
                                {% for group in groups %}
                                    <option class="option" value="{{ group.id }}">{{ group.get_name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label class="label">Faculty:
                            <select class="input" id="faculty" name="faculty" required>
                                {% for faculty in faculties %}
                                    <option class="option" value="{{ faculty.id }}">{{ faculty.faculty_name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label class="label">Event:
                            <select class="input" name="event" required>
                                {% for event in events %}
                                    <option class="option" value="{{ event.id }}">{{ event.event_name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="divButton register_divButton">
                    <a class="aLink" href="/">
                        <button type="button" class="button register_button__back">
                            Back
                        </button>
                    </a>
                    <button type="submit" class="aLink button register_button__register">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
