{% extends 'base.html' %}

{% block extra_css %}{% endblock %}

{% block detail %}

<h2>Registration Form</h2>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required><br>

    <label for="phone_number">Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number" required>
    <small>Format: +998901234567</small><br>

    <label for="event">Event:</label>
    <select id="event" name="event" required>
        {% for event in events %}
            <option value="{{ event.id }}">{{ event.event_name }}</option>
        {% endfor %}}

    </select><br>

    <input type="submit" value="Register">
</form>

{% endblock %}
