{% extends 'base.html' %}

{% block detail %}


    <div class="divCenter">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="register">
                <h2 class="eventName register_eventName">Registratsiya</h2>
                    <div class="register__grid">
                        <div class="divInput">
                            <label class="label"> Ism:
                                <input class="input" id="first_name" name="first_name" required type="text"
                                       placeholder="Ism">
                            </label>
                            <label class="label"> Familiya:
                                <input class="input" id="last_name" name="last_name" required type="text"
                                       placeholder="Familiya">
                            </label>
                            <label class="label"> Telefon Raqam:
                                <input type="tel" class="input" id="phone_number" name="phone_number" value="+998 "
                                       placeholder="+998 (__) ___ __ __" maxlength="19"
                                       oninput="formatPhoneNumber(this)">
                            </label>
                            <label class="label"> Guruh:
                                <input class="input" id="group" name="group" required type="text"
                                       placeholder="Guruh">
                            </label>
                        </div>
                        <div class="divSelect">
                            <label class="label">Fakultet:
                                <select class="input" id="faculty" name="faculty" required>
                                    {% for faculty in faculties %}
                                        <option class="option"
                                                value="{{ faculty.id }}">{{ faculty.faculty_name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label class="label">Tadbir:
                                <select class="input" name="event" required>
                                    {% for event in events %}
                                        <option class="option" value="{{ event.id }}">{{ event.event_name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="divButton register_divButton">
                        <a class="aLink" href="{% url 'back:another-user-create' %}">
                            <button type="button" class="button register_button__back">
                                Holis Tinglovchi
                            </button>
                        </a>
                        <button type="submit" class="aLink button register_button__register">
                            Saqlash
                        </button>
                    </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function formatPhoneNumber(input) {
            let phoneNumber = input.value.replace(/\D/g, '');
            let formattedNumber = '+998 ';

            if (phoneNumber.length > 3) {
                formattedNumber += '(' + phoneNumber.substring(3, 5);
            }

            if (phoneNumber.length >= 5) {
                formattedNumber += ') ' + phoneNumber.substring(5, 8);
            }

            if (phoneNumber.length >= 8) {
                formattedNumber += ' ' + phoneNumber.substring(8, 10);
            }

            if (phoneNumber.length >= 10) {
                formattedNumber += ' ' + phoneNumber.substring(10, 12);
            }

            if (phoneNumber.length >= 12) {
                formattedNumber += ' ' + phoneNumber.substring(12, 14);
            }

            input.value = formattedNumber;

            if (phoneNumber.length > 19) {
                input.value = input.value.substring(0, 19);
            }
        }
    </script>
{% endblock %}
